$primary: #ec6d93;
$cement: #ebebeb;
$dark-grey: #7b7b7b;
$background-color: #f6f6f6;
$success: #52bebe;
$warning: #fd8e71;
$danger: #f973b3;

$primary-gradient: linear-gradient(87.76deg, #f57382 3.77%, #a662fd 96.33%);
